<div id="what">

  <h1>Ready Player h1?</h1>
  <hr />
  <p class="select">Game Dimensions: <input id="gridDimensions" type="number" min="3" max="10" ng-model="dims" step="1"></p>
  <hr />
  <p>This demo uses THREE.js rays and ray casters to determin win conditions and to calculate the computers next turn.</p>
  <hr />
  <p>The ray approach works for N-N-N dimenions of tic-tac-toe.  I've clamped the number of dimensions to 10.</p>
  <hr />
    <p>If you pick 10, you'll need to connect 10 in a row.</p>
  <hr />
  <p>
    <input type="text" ng-model="username"></input>
  </p>
  <p>
    <label>You first?<input type="checkbox" ng-model="userfirst"></label>
  </p>
  <p>
    <button href="#" ng-click="startGame()">Start Game</button>
  </p>
</div>

<ul class="menu">
  <li id="toggle-arrows" class="toggle toggle-arrows-on" ng-click="toggleArrows()"></li>
  <li id="toggle-rotate" class="toggle toggle-rotate-on" ng-click="toggleRotate()"></li>
  <li id="toggle-wireframes" class="toggle toggle-wireframes-off" ng-click="toggleWireframes()"></li>
</ul>

<ul class="info"><li>jQuery: v1.9.1 - </li><li>&nbsp;THREE.js: v63 -&nbsp;</li> <li> WebGL required</li> </ul>
<h4><a href="http://blog.tempt3d.com/" target="_blank">blog.tempt3d.com</a></h4>
<div id="ray-intersection"><canvas id="ttt-canvas" selectcube></canvas>
