* {
  font-family: "Arial, Helvetica, sans-serif";
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
  background-color: #000;
}

h4 {
  position: absolute;
  bottom: 10px;
  right: 10px;
  z-index: 100;
}

ul.info{
  position: absolute;
  bottom: 4px;
  left: 4px;
  list-style: none;
  z-index: 100;
  color: #999;
}

ul.info li {
  display: block;
  float: left;
  font-size: 10px;
}

ul.menu {
  position: absolute;
  top: 4px;
  left: 4px;
  list-style: none;
  z-index: 20;
  color: #FFF;
}

ul.menu li {
  display: block;
  float: left;
  font-size: 14px;
  padding: 5px;
  width: 100%;
}

.select {
  color: #660000;
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
}

.info {

}

#what {
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
  padding: 3px;
  width: 300px;
  color: #FFF;
  font-size: 16px;
  background-color: #CCC;
  border: solid 1px #FF0000;
  z-index: 21;
}

#what p {
  color: #666;
  font-size: 14px;
  padding: 2px;  
}

#what h1 {
  color: #333333;
}

#gridDimensions {
  width: 30px;
}

#winner {
  font-size: 25px;
  color: red;
  position: absolute;
  left: 50%;
  bottom: 10px;
  z-index: 20;
}

#ray-intersection {
  z-index: 10;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
}
