body {
  font-size: 10px;
  font-family: "Arial, Helvetica, sans-serif";
  margin: 0;
  padding: 0;
}

h2 {
  position: absolute;
  top: 10px;
  right: 10px;
  text-transform: uppercase;
}

ul.info{
  position: absolute;
  bottom: 4px;
  left: 4px;
  list-style: none;
  margin: 0;
  padding: 0;
}

ul.info li {
  display: block;
  float: left;
  font-size: 10px;
}

#cache-status {
  font-size: 25px;
  color: red;
  position: absolute;
  left: 400px;
  top: 10px;
}

#snowman {
  border: 1px solid #CCC;
  z-index: 10;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
}

#docs {
  position: absolute;
  top: 10px;
  font-size: 14px;
  color: #660000;
  right: 100px;
  z-index: 20;
}

#select-marquee {
  position:absolute;
  /* initialize it offscreen */
  top: -2px;
  left: -2px;
  z-index: 50;
  height: 0px;
  width: 10px;
  background-color: rgba(208, 255, 242, 0.5);
  border: dotted 1px #9a9a9a;
  margin: 0;
  padding: 0;
  pointer-events:none;
}

.clickMarkers {
  pointer-events:none;
  position: absolute;
  z-index: 100;
  color: white;
}
