body {
  font-size: 10px;
  font-family: "Arial, Helvetica, sans-serif";
  margin: 0;
  padding: 0;
}

h2 {
  position: absolute;
  top: 10px;
  right: 10px;
  text-transform: uppercase;
}

ul.info{
  position: absolute;
  bottom: 4px;
  left: 4px;
  list-style: none;
  margin: 0;
  padding: 0;
}

ul.info li {
  display: block;
  float: left;
  font-size: 10px;
}

ul.menu {
  position: absolute;
  top: 4px;
  left: 4px;
  list-style: none;
  margin: 0;
  padding: 0;
}

ul.menu li {
  display: block;
  float: left;
  font-size: 14px;
  padding: 5px;
  width: 100%;
}

#what {
  position: absolute;
  left: 5px;
  top: 200px;
  width: 300px;
  color: #333;
  z-index: 20;
  font-size: 14px;
  font-weight: bolder;
}


#winner {
  font-size: 25px;
  color: red;
  position: absolute;
  left: 300px;
  top: 10px;
}

#ray-intersection {
  border: 1px solid #CCC;
  z-index: 10;
  width: 600px;
  height: 600px;
  /* OFFSET CHANGE */
  /* adding these values to demonstrate ray intersections anywhere in the scene */
  position: absolute;
  right: 100px;
  top: 100px;
  pointer-events: all;
  background-color: #CCCCCC;
}

#select-marquee {
  position:absolute;
  /* initialize it offscreen */
  top: -2px;
  left: -2px;
  z-index: 50;
  height: 0px;
  width: 10px;
  background-color: rgba(208, 255, 242, 0.5);
  border: dotted 1px #9a9a9a;
  margin: 0;
  padding: 0;
  pointer-events:none;
}

.clickMarkers {
  pointer-events:none;
  position: absolute;
  z-index: 100;
  color: white;
}
